{% extends 'layout.html' %}

{% block content %}
    <h1>Change Password</h1>
    <form method="post">{% csrf_token %}
        <p>
             <input type="password" class="form-control" name="password" placeholder="Current Password" required="" />
        </p>
        <p>
            <input type="password" class="form-control" name="new_password" placeholder="Password" required=""/>
        </p>
        <p>
            <input class="btn btn-lg btn-block" type="submit"></input>
        </p>
    </form>
{% endblock %}
